<h1>Navigation</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquid
  odio dignissimos, voluptate iusto soluta ducimus esse? Accusamus corporis
  veniam maxime, hic ullam ut quibusdam error enim voluptas nobis qui.</p>

<h1>Footer</h1>