<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
    exercitationem. Voluptas et maiores doloremque tempora?</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nemo
    corporis repellat earum laudantium, perferendis quas. Illo nobis
    voluptatibus quo.</p>
  <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>